<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/add" method="post">
		<table border="1">
			<tr>
				<th>船番</th>
				<th>クラス</th>
				<th>選手勝率</th>
				<th>中間補正（選手-船番）</th>
				<th>モーター勝率</th>
				<th>中間補正（モーター-船番）</th>
			</tr>
			<tr>
				<td>①</td>
				<td>
					<select name="rank" required>
					<option value="">選択</option>
					<option>A1</option>
					<option>A2</option>
					<option>B1</option>
					<option>B2</option>
					</select>
				</td>
				<td><input type="number" name="racers" min="0" max="100" required></td>
				<td><input type="range" name="hoseiA" min="0" max="1" step="0.1" oninput="this.nextElementSibling.value = this.value"><output id="rangeValue1">0.5</output></td>
				<td><input type="number" name="moter" min="0" max="100" required></td>
				<td><input type="range" name="hoseiB" min="0" max="1" step="0.1" oninput="this.nextElementSibling.value = this.value"><output id="rangeValue2">0.5</output></td>
			</tr>
			<tr>
				<td>②</td>
				<td>
					<select name="rank" required>
					<option value="">選択</option>
					<option>A1</option>
					<option>A2</option>
					<option>B1</option>
					<option>B2</option>
					</select>
				</td>
				<td><input type="number" name="racers" min="0" max="100" required></td>
				<td><input type="range" name="hoseiA" min="0" max="1" step="0.1" oninput="this.nextElementSibling.value = this.value"><output id="rangeValue3">0.5</output></td>
				<td><input type="number" name="moter" min="0" max="100" required></td>
				<td><input type="range" name="hoseiB" min="0" max="1" step="0.1" oninput="this.nextElementSibling.value = this.value"><output id="rangeValue4">0.5</output></td>
			</tr>
			<tr>
				<td>③</td>
				<td>
					<select name="rank" required>
					<option value="">選択</option>
					<option>A1</option>
					<option>A2</option>
					<option>B1</option>
					<option>B2</option>
					</select>
				</td>
				<td><input type="number"  name="racers" min="0" max="100" required></td>
				<td><input type="range" name="hoseiA" min="0" max="1" step="0.1" oninput="this.nextElementSibling.value = this.value"><output id="rangeValue5">0.5</output></td>
				<td><input type="number" name="moter" min="0" max="100" required></td>
				<td><input type="range" name="hoseiB" min="0" max="1" step="0.1" oninput="this.nextElementSibling.value = this.value"><output id="rangeValue6">0.5</output></td>
			</tr>
			<tr>
				<td>④</td>
				<td>
					<select name="rank" required>
					<option value="">選択</option>
					<option>A1</option>
					<option>A2</option>
					<option>B1</option>
					<option>B2</option>
					</select>
				</td>
				<td><input type="number" name="racers" min="0" max="100" required></td>
				<td><input type="range" name="hoseiA" min="0" max="1" step="0.1" oninput="this.nextElementSibling.value = this.value"><output id="rangeValue7">0.5</output></td>
				<td><input type="number" name="moter" min="0" max="100" required></td>
				<td><input type="range" name="hoseiB" min="0" max="1" step="0.1" oninput="this.nextElementSibling.value = this.value"><output id="rangeValue8">0.5</output></td>
			</tr>
			<tr>
				<td>⑤</td>
				<td>
					<select name="rank" required>
					<option value="">選択</option>
					<option>A1</option>
					<option>A2</option>
					<option>B1</option>
					<option>B2</option>
					</select>
				</td>
				<td><input type="number" name="racers" min="0" max="100" required></td>
				<td><input type="range" name="hoseiA" min="0" max="1" step="0.1" oninput="this.nextElementSibling.value = this.value"><output id="rangeValue9">0.5</output></td>
				<td><input type="number" name="moter" min="0" max="100" required></td>
				<td><input type="range" name="hoseiB" min="0" max="1" step="0.1" oninput="this.nextElementSibling.value = this.value"><output id="rangeValue10">0.5</output></td>
			</tr>
			<tr>
				<td>⑥</td>
				<td>
					<select name="rank" required>
					<option value="">選択</option>
					<option>A1</option>
					<option>A2</option>
					<option>B1</option>
					<option>B2</option>
					</select>
				</td>
				<td><input type="number" name="racers" min="0" max="100" required></td>
				<td><input type="range" name="hoseiA" min="0" max="1" step="0.1" oninput="this.nextElementSibling.value = this.value"><output id="rangeValue11">0.5</output></td>
				<td><input type="number" name="moter" min="0" max="100" required></td>
				<td><input type="range" name="hoseiB" min="0" max="1" step="0.1" oninput="this.nextElementSibling.value = this.value"><output id="rangeValue12">0.5</output></td>
			</tr>
		</table>
		<input type="submit">
		
		<ul>
			<li th:each="result : ${boat.sorted}" th:text="${result}"></li>
		</ul>

	</form>
	
	<p>
    <a href="/clear">全消去</a>
</p>

</body>
</html>

